.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.7);
  padding: 20px;
  text-align: center;
  margin:10px;
}
.pokemon .poke-img {
background-color: rgba(255, 255, 255, 0.7);
border-radius: 50%;
height: 120px;
width: 120px;
}
.pokemon .poke-img img {
margin-top: 20px;
max-width: 90%;
}
.pokemon .info {
  margin-top: 20px;
}

.pokemon  .number {
  background-color: #fff;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}
.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}